body {
    background-color: black;
}

#terminal-input, #terminal-output {
    color: green;
    font-size: 24px;
    font-weight: bold;
}

#terminal-input {
    display: flex;
}

#terminal-input-pointer {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: pointer-flash;
}

@keyframes pointer-flash {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}